body {
    margin: 0;
    align-items: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 36x;
}

.api-section {
    width: 90%;
    max-width: 900px;
    padding: 24px;
    border: 1px solid #999;
    border-radius: 4px;
    margin: 24px 24px 0;
    background-color: rgba(255, 255, 255, 0.695);
    height: 100%;
}

.api-content {
    font-weight: bold;
    font-style: italic;
    color: #999;
}

#weather{
    border:1px solid grey
}

#temperature, #wind, #description {
    font-size: 30px;
    margin-top: 20px;
    color: white;
}

#info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.229);
    padding-bottom: 20px;

}

.carousel-item{
    display:center;
    width:600px;
    margin-top: 30px;
}

#joke{
    margin-top: 20px;
    color: black;
    font-size: 25px;
}

#dog-image{
    max-width:100%;
}

.carousel-inner{
    display: center;
    width:100%;
}

#car{
    width:600px
}